.form {
    margin: 30px 25px !important;
    width: 50%;
}
.form label {
    width: 100px;
}
.MuiDialogActions-spacing button {
    color: #ffffff;
}
#pop-up {
    /* background: #ffffff 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #d2cbcb;
    border-radius: 10px;
}
#alert-dialog-title {
    width: 514px;
    /* height: 379px; */
}
#alert-dialog-title h2 {
    text-align: left;
    font: normal normal bold 20px/27px Segoe UI;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}
.form-add {
    max-width: 100%;
}
.form-add input {
    width: 327px;
    height: 35px;
    max-width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.upload-image {
    border: 0px !important;
}
